{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}
<h2> Feed </h2>

<form method="POST" action="{{ url_for('main.post') }}">
    <textarea name="content" rows="3" cols="40" placeholder="post some fuckin shit!!" required></textarea><br>
    <button type="submit">Post</button>
</form>

<ul>
  {% for post in posts %}
    <li style="margin-bottom: 20px;">
      {% if post.user.pfp %}
        <img src="{{ url_for('static', filename='uploads/' + post.user.pfp) }}"
             width="40" height="40" style="border-radius: 50%; object-fit: cover; vertical-align: middle;">
      {% else %}
        <img src="../static/pfps/default.jpg" width="40" height="40" style="object-fit: cover; border-radius: 50%; vertical-align: middle;">
      {% endif %}
      
      <strong style="margin-left: 10px;">
        <a href="{{ url_for('main.profile', username=post.user.username) }}">{{ post.user.username }}</a>
      </strong>: {{ post.content }}
      <li>
        <form action="{{ url_for('main.like', post_id=post.id) }}" method="post" style="display:inline;">
            <button type="submit"><i class="fa-solid fa-thumbs-up"></i> {{ post.likes }}</button>
        </form>
        <form action="{{ url_for('main.dislike', post_id=post.id) }}" method="post" style="display:inline;">
            <button type="submit"><i class="fa-solid fa-thumbs-down"></i> {{ post.dislikes }}</button>
        </form>
        {% if post.user_id == user_id %}
        <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post">
            <button type="submit">Delete</button>
        </form>
        {% endif %}
        <a href="{{ url_for('main.viewpost', post_id=post.id) }}">
          {{ post.comments|length }} comments
        </a>
      </li>
      <br>
    </li>
  {% endfor %}
</ul>
{% endblock %}