{% extends "base.html" %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block content %}
<h2>Profile: {{ user.username }}</h2>

<h3>Posts</h3>
<ul>
    {% for post in user.posts %}
        <li>{{ post.content }}</li>
            <form action="{{ url_for('main.like', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit">like {{ post.likes }}</button>
            </form>
            <form action="{{ url_for('main.dislike', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit">dislike {{ post.dislikes }}</button>
            </form>
        
    {% else %}
        <li>{{ user.username }} hasn't posted anything yet... </li>
    {% endfor %}
</ul>

<a href="{{ url_for('main.feed') }}">Back to feed</a>
{% endblock %}