{% extends "base.html" %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block content %}

{% if user.pfp %}
    <img src="{{ url_for('static', filename='uploads/' + user.pfp) }}" width="150" height="150" style="object-fit: cover; border-radius: 50%;">
{% else %}
    <img src="../static/pfps/default.jpg" width="150" height="150" style="object-fit: cover; border-radius: 50%;">
{% endif %}
<h2>Profile: {{ user.username }}</h2>
<p><strong>About me:</strong> {{ user.bio or "No bio yet." }}</p>
{% if session.username == user.username %}
    <a href="{{ url_for('main.editbio') }}">Edit bio</a>
{% endif %}
{% if session.username == user.username %}
  <a href="{{ url_for('main.uploadpfp') }}">Change Profile Picture</a>
{% endif %}

<h3>Posts</h3>
<ul>
    {% for post in user.posts %}
        <li>{{ post.content }}</li>
            <form action="{{ url_for('main.like', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit">like {{ post.likes }}</button>
            </form>
            <form action="{{ url_for('main.dislike', post_id=post.id) }}" method="post" style="display:inline;">
                <button type="submit">dislike {{ post.dislikes }}</button>
            </form>
            {% if post.user_id == user_id %}
                <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
        
    {% else %}
        <li>{{ user.username }} hasn't posted anything yet... </li>
    {% endfor %}
</ul>

<a href="{{ url_for('main.feed') }}">Back to feed</a>
{% endblock %}